.header{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    text-align: center;
    align-items: center;
    background-color: black;
    color: white;
}
.nav{
    a{
        font-size: 18px;
        margin: 0px 10px;
        transition: 0.5s;
    }
    a:hover{
        font-size: 20px;
        color: #ff0000;
    }
}