.footer{
    background-color: black;
    color: white;
    padding: 2rem;
    text-align: center;
    font-size: 18px;
    position: fixed;
    left:0;
    bottom: 0;
    width: 100%;
}
@media screen and (max-width: 550px) {
    .footer{
        padding: 1rem;
    }
}