.save{
    display: flex;
    align-items: center;
    margin: 1rem 0;
    svg{
        cursor: pointer;
        margin-left: 1rem;
        font-size: 30px;
    }
}
.info{
    margin: 1rem 0;
    line-height: 25px;
}
.tables{
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    width: 100%;
    height: 100%;
    thead{
        color: #e8e8e8;
        background-color: rgba(22, 22, 22, 0.822);
        border-bottom: 1px solid #e8e8e8;
        tr{
            th{
                padding: 0.5rem;
                text-align: center;
            }
        }
    }
    tbody{
        tr{
            td{
                border : 1px solid #000000;
                padding: 0.5rem;
                text-align: center;
            }
        }
    }
}
.modalSpell{
    background-color: #fde599;
    position: absolute;
    margin: 2rem;
    max-height: 80vh;
    overflow-y: auto;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
@media screen and (max-width: 680px){
.modalSpell{
    font-size: 13px;
}
}
@media screen and (max-width: 430px) {
    .modalSpell{
        margin: {
            top: 2rem;
            left: 5px;
            right: 5px;
        };
    }
}