.container{
  display: flex;
  margin: 5rem 0;
  justify-content: space-around
}
.box{
  background-color: black;
  padding: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  text-align: center;
  max-width: 250px;
  svg{
    margin: 1rem auto;
    width: 100%;
  }
}